body {
    margin: 0;
    padding: 0;
    background-color: #DBE2EF;
    font-weight: 400;
    
  }
  
  .Header-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  }
  
  header {
    background-color: #DBE2EF;
  }
  
  
  
  nav {
    float: right;
    background-color: #DBE2EF; 
    padding: 25px;
    padding-top: 2.5rem ;
  }
  
  nav ul {
    margin: 0;
    padding-right: 10rem;
    list-style: none;
    display: flex; /*så det blir horisontiellt */
  }
  
  nav li {
    margin-right: 4rem;

  }
  
  nav a {
    color: #112D4E;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: block; 
    padding: 5 /* öka för mer storlek mellan */
  }
  
  nav a:hover {
    color: pink;
  }

  .Info-container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 4rem;
    text-align: center;
    
  }
  
  .Kontakt-container{
    max-width: 100rem;
    margin: 0 auto;
    padding: 4rem;
    text-align: justify;
  }

  .Catering-container{
    max-width: 100rem;
    margin: 0 auto;
    padding: 4rem;
    text-align: justify;

  }

  h1 {
    margin: 10px;
    color: #112D4E;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
  }
  
  p {
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
  }
  
  .image-left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    width: 30%;
    height: auto;
  }
  
  .image-right {
    float: right;
    margin-left: 20px;
    width: 20%;
    height: auto;
  }

  .image-center {
    display: block;
    margin: 20px auto;
    
  }
  
  .menu-image{
    width: 20%;
    height: auto;
    
  }

  .Meny-container{
    max-width: 100rem;
    margin: 0 auto;
    padding: 4rem;
  }

  .Logo{
    width: 20%;
    height: auto;
  }

  @media (max-width:601px) {
    .Info-container {
      max-width: 100%;
      
    }

  }
