body{
    background-color: #F9F7F7;
}

.primary-menu{
    font-size: 18px;
    font-weight: bold;
}

.primary-menu {
    background-color: #F9F7F7;
    padding: 10px;
    text-align: center; /* Centrera menyelementen horisontellt */
}

.primary-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.primary-menu li {
    display: inline;
    margin-right: 15px;
}

.primary-menu a {
    text-decoration: none;
    padding: 5px 10px;
    color: #3F72AF;
}

.primary-menu a:hover {
    background-color: #ddd;
}

.primary-menu h1 {
    display: inline; /* Visa h1-taggen som en del av menyn */
    font-size: 2em; /* Justera storleken efter behov */
    margin: 0 10px; /* Avstånd mellan h1-taggen och menulänkarna */
    color: #3F72AF; /* Färg för h1-taggen */
    font-family: 'Montserrat';
}
