body {
    margin: 0;
    padding: 0;
    background-color: #DBE2EF;
    font-weight: 400;
  }
  
  .Header-container {
    max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  }
  
  header {
    background-color: #DBE2EF;
  }
  
  
  
  nav {
    float: right;
    background-color: #DBE2EF; 
    padding: 25px;
    padding-top: 25px;
  }
  
  nav ul {
    margin: 0;
    padding-right: 20px;
    list-style: none;
    display: flex; /*så det blir horisontiellt */
  }
  
  nav li {
    margin-right: 60px;

  }
  
  nav a {
    color: #112D4E;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: block; 
    padding: 5 /* öka för mer storlek mellan */
  }
  
  nav a:hover {
    color: black;
  }

  .Info-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #112D4E;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
  }
  
  p {
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
  }
  
  .image-left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .image-right {
    float: right;
    margin-left: 20px;
  }

  .image-center {
    display: block;
    margin: 20px auto;
    
  }
  